@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'libs/slick';
@import 'base/variables';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@media (max-width: 1200px){
    .container {
        max-width: 750px;
    }
}
@media (max-width: 991px){
    .container {
        max-width: 630px;
    }
}
@media (max-width: 767px){
    .container {
        max-width: 550px;
    }
}

@media (max-width: 575px){
    .container {
        max-width: 350px;
    }
}
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/advantage';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog.scss';
@import 'blocks/feed';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';