.advantage{
    //min-height: 472px;
    padding: 69px 0 78px 0;
    background-color: #f6f6f6;
    &__header{
        color: #0d0d0d;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }
    &__items{
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 238px;
    }

    &__subheader{
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin-top: 38px;
    }
    &__descr{
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        margin-top: 29px;
        a {
            color: #ff0000;
            text-decoration: underline;
        }
    }
}

@media (max-width: 1200px){

}
@media (max-width: 991px){
    .advantage{
        &__header{
            font-size: 28px;
        }
        &__item {
            max-width: 180px;
        }
    
        &__subheader{
            font-size: 15px;
            margin-top: 38px;
        }
        &__descr{
            font-size: 12px;
        }
    }
}
@media (max-width: 767px){
    .advantage{
        &__item {
            max-width: 150px;
        }
    
        &__subheader{
            font-size: 12px;
        }
        &__descr{
            font-size: 11px;
        }
    }
}

@media (max-width: 575px){
    .advantage{
        &__items{
            flex-direction: column;
        }
        &__item{
            max-width: 310px;
            flex-direction: row;
        }

        &__text{
            right: 30px;
        }
        &__descr{
            margin-top: 20px;
        }
        &_img{
            height: auto;
            width: auto;
        }
    }
}