.feed{
    padding-bottom: 71px;
    &__item{
        display: flex;
        margin-top: 100px;
        &:nth-child(2){
            margin-top: 70px;
        }
    }
    &__text{
        margin-left: 62px;
    }
    &__img {
        width: 169px;
        height: 169px;
    }
    &__name{
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        text-align: left;
    }
    &__maraphone{
        color: #646464;
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        margin-top: 14px;
    }
    &__feedback{
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
        text-align: left;
        margin-top: 19px;
    }

}

@media (max-width: 991px){

}
@media (max-width: 767px){

}

@media (max-width: 575px){
    .feed{
        &__item{
            display: flex;
            flex-direction: column;
        }
        &__text{          
            margin: 0 auto;
            text-align: center;
            margin-top: 10px;
        }
        &__img {
            width: 169px;
            height: 169px;
            margin: 0 auto;
        }
        &__name{
            font-size: 16px;
            text-align: center;
        }
        &__maraphone{         
            margin: 0 auto;
            margin-top: 10px;
            text-align: center;
        }
        &__feedback{
            
            margin: 0 auto;
            text-align: center;
            margin-top: 25px;
        }
    
    } 
}